$color-primary: #d3135a;

$screen_desktop: 1200px;
$screen_tablet: 960px;
$screen_mobile: 520px;

[v-cloak] {
	display: none !important;
}

body {
	margin: 0;
	font-family: Arial, Helvetica;
	line-height: 24px;
}

html, body, #app {
	height: 100%;
	overflow-x: hidden;
}

body.mobile-menu {
	overflow: hidden;

	* {
		overflow: hidden;
	}
}

hr {
	border-bottom: solid 3px #222;
	border-top: solid 0px transparent;
	margin: 20px 0px;

	&.simple {
		margin: 5px 0px;
		outline: none;
		border-bottom: solid 1px #a7a7a7;
	}
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

// ------------------------> Main <------------------------ //
#wrapper {
	background-color: #e6e6e6;
	text-align: center;
	min-height: 100%;
  
  /* This is the same as the height of the footer */
	margin-bottom: -130px;

	@media screen and (max-width: $screen_tablet) {
		margin-bottom: 0px;
	}

	@media screen and (max-width: $screen_mobile) {
		padding-top: 50px;
	}
	
	main {
		margin: 30px 0px;
		text-align: left;

		@media screen and (max-width: $screen_mobile) {
			margin: 10px 0px;
		}

		a {
			color: #0093ff;
		}

		.columns {

			> div {
				display: table-cell;
				box-sizing: border-box;
				vertical-align: top;
				background-clip: padding-box;

				@media screen and (max-width: $screen_tablet) {
					display: block;
					width: 100% !important;

					&:not(:first-child) {
						border-top: solid 30px transparent;
					}
				}
			}

			> div:not(:first-child) { 
				border-left: solid 30px transparent;

				@media screen and (max-width: $screen_tablet) {
					border-left-width: 0px;
				}
			}

			> div.no-borders {
				border: solid 0px transparent;
			}
		}
	}

	&::after {
		content: "";
		display: block;
		height: 130px;

		@media screen and (max-width: $screen_tablet) {
			height: 0;
		}
	}
}


// ------------------------> Header <------------------------ //
header {
	position: relative;
	z-index: 1000;
	height: 100px;
	padding-bottom: 15px;
	color: #fff;
	text-align: center;
	background-color: $color-primary;

	@media screen and (max-width: $screen_tablet) {
		padding-bottom: 19px;
	}

	@media screen and (max-width: $screen_mobile) {
		position: fixed;
		left: 0px;
		top: 0px;
		right: 0px;
		height: 50px;
		text-align: left;
		padding-bottom: 0px;
		box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
	}

	.logo {
		position: absolute;
		bottom: 0px;
		left: 0px;
		color: #ffffff;
		font-size: 60px;
		line-height: 45px;

		@media screen and (max-width: $screen_tablet) {
			position: static;
			display: block;
			font-size: 40px;
		}

		@media screen and (max-width: $screen_mobile) {
			line-height: 50px;
			margin-left: 10px;
			font-size: 30px;
		}
	}

	.sub-nav {
		height: 50px;
		text-align: right;

		@media screen and (max-width: $screen_tablet) {
			height: 30px;
		}

		li {
			display: inline-block;
			line-height: 50px;
			margin-left: 10px;

			@media screen and (max-width: $screen_tablet) {
				line-height: 30px;
				font-size:  12px;
			}

			a {
				color: black;
			}
		}
	}

	.nav {
		text-align: right;
		padding-top: 20px;

		@media screen and (max-width: $screen_tablet) {
			padding-top: 0px;
			text-align: center;
			font-size:  14px;
		}

		> ul {
			vertical-align: bottom;

			> li {
				position: relative;
				display: inline-block;
				line-height: 30px;
				vertical-align: bottom;

				&:not(:last-child) {
					.option{
						padding: 0px 8px;
					}
					
				}
			
				@media screen and (max-width: $screen_mobile) {
					position: static;
					line-height: 20px;
				}
	
				a {
					font-size: 18px;
					color: white;

					@media screen and (max-width: $screen_tablet) {
						font-size:  14px;
					}
				}
	
				> ul {
					visibility: hidden;
					position: absolute;
					padding-top: 15px;
					background-clip: content-box;
					top: 29px;
					left: 50%;
					margin-left: -90px;
					background-color: #555;

					@media screen and (max-width: $screen_mobile) {
						width: 100%;
						top: 98px;
						left: 0px;
						margin-left: 0px;
					}

					li {
						width: 150px;
						text-align: left;
						padding: 4px 15px;
						box-sizing: content-box;
						background-color: transparent;
						transition: background-color 0.1s;
						font-size: 13px;

						@media screen and (max-width: $screen_mobile) {
							width: 100%;
							padding: 12px 15px;
						}

						&:hover {
							background-color: rgba(255, 255 ,255, 0.2);
						}
					}
				}
				
				&.dropdown:hover {
					.option {
						position: relative;
						color: black;

						&::after {
							content: "";
							position: absolute;
							width: 0px;
							height: 0px;
							border: 8px solid transparent;
							border-right-color:#555;
							border-bottom-color:#555; 
							right: 50%;
							bottom: -14px;
						}
	
						&::before {
							content: "";
							position: absolute;
							width: 0px;
							height: 0px;
							border: 8px solid transparent;
							border-left-color:#555;
							border-bottom-color:#555; 
							left: 50%;
							bottom: -14px;
						}
					}

					> ul {
						visibility: visible;
					}
				}
			}
		}
	}
}

// ------------------------> Menu mobile <------------------------ //
.mobile-menu {
	.icon {
		position: absolute;
		top: 10px;
		right: 10px;
		display: inline-block;
		cursor: pointer;
		z-index: 5000;
		
		.bar1, .bar2, .bar3 {
			width: 24px;
			height: 3px;
			background-color: #fff;
			margin: 5px 0;
			-webkit-transition: 0.4s;
			transition: 0.4s;
			border-radius: 20px;
		}
		
		&.close .bar1 {
			-webkit-transform: rotate(-45deg) translate(-4px, 7px);
			transform: rotate(-45deg) translate(-4px, 7px);
		}
		
		&.close .bar2 { opacity: 0; }
		
		&.close .bar3 {
			-webkit-transform: rotate(45deg) translate(-5px, -7px);
			transform: rotate(45deg) translate(-5px, -7px);
		}
	}

	.menu {
		position: fixed;
		top: 50px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		overflow: auto !important;

		background-color: #555;

		ul {

			li {
				padding: 8px 10px;

				a {
					color: rgba(255, 255, 255, 0.8);
				}
				

				&:hover {
					background-color: rgba(255, 255 ,255, 0.2);
				}
			}
		}

		hr {
			margin: 0px 0px;
			outline: none;
			border-bottom: solid 1px #6f6f6f;
		}
	}
}

// ------------------------> Footer <------------------------ //
footer {
	height: 100px;
	padding: 15px 0px;
	text-align: center;

	@media screen and (max-width: $screen_tablet) {
		height: auto;
	}

	color: #fff;
	text-align: center;
	background-color: #666;
	overflow: hidden;

	.logo {
		position: absolute;
		bottom: 0px;
		right: 0px;
		color: white;
		font-size: 40px;
		line-height: 45px;

		@media screen and (max-width: $screen_tablet) {
			position: static;
			display: block;
			margin-top: 25px;
		}
	}

	.description {
		display: block;
		padding-right: 160px;
		text-align: left;
		font-size: 14px;
		line-height: 18px;
		color: #ccc;

		@media screen and (max-width: $screen_tablet) {
			text-align: center;
			padding-right: 0px;
		}
	}

	.sub-nav {
		text-align: left;

		@media screen and (max-width: $screen_tablet) {
			text-align: center;
		}

		li {
			display: inline-block;
			margin-bottom: 10px;
			line-height: 30px;
			vertical-align: middle;

			@media screen and (max-width: $screen_mobile) {
				padding: 0px 5px;
				line-height: 15px;
			}

			a {
				font-size: 13px;
				
				color: white;
			}

			@media screen and (min-width: $screen_mobile) {
				&:not(:first-child)::before {
					content: "";
					font-size: 10px;
					margin-right: 15px;
					margin-left: 15px;
					border-left: 2px solid #e5e5e5;
				}
			}
		}
	}
}

// ------------------------> Forms <------------------------ //
fieldset {
	border: solid 1px grey;
	padding: 30px;
	margin: 0px;

	@media screen and (max-width: $screen_tablet) {
		padding: 15px;
	}

	.field:not(:first-child):not(:last-child) {
		margin: 20px 0px;
	}

	label {
		.name {
			margin-bottom: 10px;
			font-weight: 700;
			font-size: 14px;
		}
	}

	.errors {
		font-size: 12px;
		color: red;
		margin-bottom: 10px;
	}

	.succesful {
		font-size: 12px;
		color: green;
		margin-bottom: 10px;
	}

	input {
		padding: 7px 10px;
		min-width: 100%;
		box-sizing: border-box;
		border: solid 1px grey;
		outline: none;

		&.error {
			border: solid 1px red;
		}
	}

	textarea {
		padding: 7px 10px;
		resize: none;
		min-width: 100%;
		box-sizing: border-box;
		min-height: 130px;
		border: solid 1px grey;
		outline: none;

		&.error {
			border: solid 1px red;
		}
	}

	button {
		text-transform: uppercase;
		box-sizing: border-box;
		padding: 10px 30px;
		border: solid 0px transparent;
		outline: none;
		background-color: $color-primary;
		color: #fff;
		letter-spacing: 1px;
		cursor: pointer;

		@media screen and (max-width: $screen_mobile) {
			width: 100%;
		}

		&:hover {
			background-color: #bd1151;
		}
	}
}

// ------------------------> Background <------------------------ //
.bg-white {
	background-color: #fff;
}

.bg-darkgrey {
	background-color: #cccccc;
}

.bg-clip-content {
	background-clip: content-box;
}

// ------------------------> Width <------------------------ //

.width-1-1 {
	width: 100%;
	box-sizing: border-box;
}

.width-1-2 {
	width: 50%;
}

.width-1-3 {
	width: calc(100% * 1 / 3.001);
	width: 33.333%;
	width: -webkit-calc(100% * 1 / 3.001);
	width: -moz-calc(100% * 1 / 3.001);
}

.width-2-3 {
	width: calc(100% * 2 / 3.001);
	width: 66.666%;
	width: -webkit-calc(100% * 2 / 3.001);
	width: -moz-calc(100% * 2 / 3.001);
}

.width-max-desktop {
	display: inline-block;
    max-width: calc(100% - 40px);
	width: $screen_desktop;

	@media screen and (max-width: $screen_mobile) {
		max-width: calc(100% - 15px);
	}
}

// ------------------------> Height <------------------------ //
.height-1-1 {
	height: 100%;
}

// ------------------------> Padding <------------------------ //
.padding-small {
	padding: 15px;
}

.padding-medium {
	padding: 30px;

	@media screen and (max-width: $screen_tablet) {
		padding: 15px;
	}
}

.padding-large {
	padding: 60px;
}

.padding-remove {
	padding: 0 !important;
}

.padding-remove-horizont {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

// ------------------------> Margin <------------------------ //
.margin-small {
	margin: 15px;
}
.margin-small-top {
	margin-top: 15px;
}

.margin-medium {
	margin: 30px !important;
}
.margin-medium-top {
	margin-top: 30px;
}
.margin-medium-bottom {
	margin-bottom: 30px;
}

.margin-large {
	margin: 60px;
}

.margin-remove {
	margin: 0px !important;
}

// ------------------------> Align <------------------------ //
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-justify {
	text-align: justify;
}

// ------------------------> Position <------------------------ //
.pos-relative { 
	position: relative;
}

.pos-relative\@desktop { 
	@media screen and (min-width: $screen_tablet) {
		position: relative;
	}
}

// ------------------------> Visible <------------------------ //
.visible\@mobile {
	@media screen and (min-width: $screen_mobile+1) {
		display: none;
	}
}

.hidden\@mobile {
	@media screen and (max-width: $screen_mobile) {
		display: none;
	}
}